build/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*.glade#
*.iml
*.iws
.idea/*
!.idea/codeStyleSettings.xml
!.idea/checkstyle-idea.xml
!.idea/codeStyles/
!.idea/copyright/
!.idea/fileTemplates/
!.idea/inspectionProfiles/
!.idea/scopes/
!.idea/vcs.xml
*.autosave
/.mypy_cache/
.dmypy.json
/venv/
.flatpak-builder/
