<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <action id="com.leinardi.gwe">
    <message>Authentication is required to run apply power limit / overclock</message>
    <icon_name>gwe</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/python</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">/usr/lib/python3.11/site-packages/gwe/repository/overclock-agent.py</annotate>
  </action>

</policyconfig>
