[Desktop Entry]
Name=GreenWithEnvy
# TODO: We could include the full path here but Meson requires
#       newer GLib to generate files for GResource
TryExec=gwe
Exec=gwe --gapplication-service
Type=Application
NoDisplay=true
Name[en_US]=com.leinardi.gwe.service.desktop
